Source: ralink-fwcutter
Section: non-free/utils
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/ralink-fwcutter/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/ralink-fwcutter/trunk/

Package: rt61-fwcutter
Architecture: all
Depends: firmware-ralink
Conflicts: firmware-rt61
Description: transitional dummy package to install firmware-ralink
 rt61-fwcutter was a tool extract the firmwares from Ralink rt61 or 
 rt2x00 rt61 source files. It was obsoleted in favour of firmware-rt61 which 
 was merged in firmware-nonfree 0.8, which in turn gets obsoleted by
 firmware-ralink, shipping in firmware-nonfree 0.9.
 .
 It can be safely removed from your system after updating.

Package: rt73-fwcutter
Architecture: all
Depends: firmware-ralink
Conflicts: firmware-rt73
Description: transitional dummy package to install firmware-ralink
 rt73-fwcutter was a tool to extract the firmware from Ralink rt73 or 
 rt2x00 rt73 source files. It was obsoleted in favour of firmware-rt73 which
 was merged in firmware-nonfree 0.8, which in turn gets obsoleted by 
 firmware-ralink, shipping in firmware-nonfree 0.9.
 .
 It can be safely removed from your system after updating.

