Source: ralink-fwcutter
Section: non-free/utils
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2
Vcs-Svn: svn://svn.berlios.de/fullstory/ralink-fwcutter/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/ralink-fwcutter/trunk/

Package: rt61-fwcutter
Architecture: all
Depends: debconf (>= 0.5.00) | debconf-2.0, firmware-rt61
Description: transitional dummy package to install firmware-rt61
 rt61-fwcutter was a tool extract the firmwares from Ralink rt61 or 
 rt2x00 rt61 source files. It is obsoleted in favour of firmware-rt61 which 
 was merged in firmware-nonfree 0.8.
 .
 It can be safely removed from your system after updating.

Package: rt73-fwcutter
Architecture: all
Provides: rt73-firmware
Depends: debconf (>= 0.5.00) | debconf-2.0, firmware-rt73
Description: transitional dummy package to install firmware-rt73
 rt73-fwcutter was a tool to extract the firmware from Ralink rt73 or 
 rt2x00 rt73 source files. It is obsoleted in favour of firmware-rt73 which
 was merged in firmware-nonfree 0.8.
 .
 It can be safely removed from your system after updating.

